/********************
COMPONENT ICON 
*********************/

.ec-component-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ec-component-icon::after,
.ec-component-icon::before {
  content:'';
  width: 15%;
  height: .25rem;
  border-radius: 4px;
  background-color: currentColor;
}

.ec-component-icon i {
    margin: .625rem;
    font-size: 2.125rem;
}

