/********************
COMPONENT SOCIAL
*********************/


a.ec-component-social {
    all: unset;
    display: inline-block;
    width: 3.25rem;
    height: 3.25rem;
    border: 1px solid currentColor;
    line-height: 3.25rem;
}