/********************
COMPONENT ICON 
*********************/

.ec-component-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ec-component-icon::after,
.ec-component-icon::before {
  content:'';
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
  color: currentColor;
}

.ec-component-icon i {
    margin: 5%;
}
/* 
