/********************
COMMON
*********************/

/* header*/
header nav.navbar, 
#privacy {
    background-color: var(--ec-hf-bg);
}

#jumbotron,
#about {
    background-color: var(--ec-main-bg2);
}

#jumbotron .ec-content-image img {
    max-width: 40%;
}

/* main*/
#portfolio, 
#contact {
    color: var(--ec-black);
}

#social {
    background-color: var(--ec-main-bg1);
}

li {
    list-style-type: none;
}

span.ec-color-green {
    color: var(--ec-main-bg2);
}

#contact .btn-primary {
    background-color: var(--ec-main-bg2);
}

#about [type="button"] > i {
    margin-right: .25rem;
}

/* footer*/
.ec-text-privacy {
    font-size: .75rem
}