/**************
COMMON---------
***************/

#navbar, 
#privacy {
    background-color: var(--ec-hf-bg);
}

#jumbotron,
#about {
    background-color: var(--ec-main-bg2);
}

#portfolio, 
#contact {
    color: var(--ec-black);
}

#social {
    background-color: var(--ec-main-bg1);
}

li {
 list-style-type: none;
}

/* #portfolio .content {
    background-color: pink;
} */