/**************
COMMON---------
***************/

#navbar, 
#privacy {
    background-color: var(--ec-hf-bg);
}

#jumbotron,
#about {
    background-color: var(--ec-main-bg2);
}

#portfolio, 
#direct {
    color: var(--ec-black);
}

#contact {
    background-color: var(--ec-main-bg1);
}

li {
 list-style-type: none;
}